---
import PageLayout from "../layouts/PageLayout.astro";
import Slider from "../components/eventos/Slider";
import EventosList from "../components/eventos/EventosList";
import "../styles/global.css";
---

<PageLayout
  titulo="Eventos"
  descripcion="Descubre nuestros próximos eventos"
  imagen="/assets/img/eventos.jpg"
>
  <!-- Sección de Hero -->
  <div id="slider" class="w-full overflow-hidden">
    <Slider client:load />
  </div>
  <div class="p-4">
    {/*Componente EventosList*/}
    <EventosList client:load />
  </div>

</PageLayout>


