---
import PageLayout from "../layouts/PageLayout.astro";
import FAQ from "../components/FAQ";
import "../styles/global.css";

const questions = [
  {
    question: "쮻칩nde consigo la app?",
    answer:
      "La aplicaci칩n est치 disponible para su descarga en la Play Store. Actualmente la app est치 disponible para su descarga en Bolivia y no en otros pa칤ses. ",
  },
  {
    question:
      "쯈uiero apoyar al proyecto Simi App y soy de Bolivia. 쮻칩nde puedo realizar mi aporte econ칩mico? ",
    answer: `Simi es una app creada por un grupo de voluntarias y voluntarios, tu ayuda permite que el proyecto pueda mejorar y expandir la app. Realiza tu donaci칩n aqu칤: <a href="https://simiquechua.app/apoyenos/" target="_blank" rel="noopener noreferrer">游늶 Clck para apoyar</a>`,
  },
  {
    question: "쯈uiero ser parte del proyecto Simi App. 쮻칩nde me apunto?",
    answer: `Si est치s interesada/o en unirte al equipo o ser voluntaria/o en Simi registrate en este formulario: <a href="https://forms.gle/D6Wr2aKEBWgcsDn7A" target="_blank" rel="noopener noreferrer">游늶 Click para ver el formulario</a>`,
  },
  {
    question:
      "쯊engo algunas observaciones y comentarios sobre el contenido de la app.  쮻칩nde las puedo compartir?",
    answer: `Nos interesa conocer tu opini칩n acerca del contenido de la app, esta informaci칩n nos sirve para mejorar el contenido. Por favor accede al siguiente formulario para dejarnos tus observaciones o comentarios: <a href="https://docs.google.com/forms/d/e/1FAIpQLSf91IAN8xH9o4VQnELxAWdFbj6iYhXcgyOsRMGYHD8BrpZ8Qw/viewform" target="_blank" rel="noopener noreferrer className="font-bold"> 游늶 Click para ver el formulario de comentarios</a>`,
  },
];
---

<PageLayout
  titulo="Preguntas frecuentes"
  descripcion="Preguntas mas frecuentes de usuarios"
  imagen="/assets/img/anagrama.jpg"
>
  <div class="relative">
    <div
      class="absolute inset-0 bg-cover bg-center bg-repeat opacity-15 z-0"
      style={{ backgroundImage: "url('/assets/images/fondo.png')" }}
    >
    </div>

    <div class="relative z-10">
      <FAQ client:only="react" questions={questions} />
    </div>
  </div>
</PageLayout>
