---
import Carousel from "../components/simiwanpullkana/carousel";
import Simiwanpukllana from "../components/simiwanpullkana";
import ImageTextBlock from "../components/simiwanpullkana/imagetextblock";
import LogoSection from "../components/simiwanpullkana/logoSection";
import PageLayout from "../layouts/PageLayout.astro";
import "../styles/global.css";
---

<PageLayout
    titulo="Simiwan Pukllana"
    descripcion="Disfruta de la experiencia Simiwan"
    imagen="" 
>
    <div class="p-6 rounded-lg flex items-center">
        <img src="/ruta/a/tu/imagen.jpg" alt="Descripción de la imagen" class="w-1/3 h-auto rounded-lg mr-4" />
        <div class="w-2/3">
            <p class="mt-4 text-gray-600">Atuq Yachachiq se trata de un colectivo editorial fundada en 2019 qeu se dedica a la creación y difusión de material didáctico y literario en Quechua de Cochabamba.</p>
        </div>
    </div>

    <!-- Sección del Carrusel -->
    <section class="mt-8">
        <h2 class="text-3xl font-bold text-black">Imágenes Destacadas</h2>
        <Carousel />
    </section>


    <div class="container mx-auto px-4">
        <div class="flex">
            <!-- Columna izquierda con texto e imagen -->
            <div class="w-1/3 p-6 rounded-lg flex items-center">
                <img src="/ruta/a/tu/imagen.jpg" alt="Descripción de la imagen" class="w-1/2 h-auto rounded-lg mr-4" />
                <div class="w-1/2">
                    <p class="mt-4 text-gray-600">Atuq Yachachiq se trata de un colectivo editorial fundada en 2019 qeu se dedica a la creación y difusión de material didáctico y literario en Quechua de Cochabamba.</p>
                </div>
            </div>
    
            <!-- Columna derecha con carrusel -->
            <div class="w-2/3">
                <section class="mt-8">
                    <h2 class="text-3xl font-bold text-black">Imágenes Destacadas</h2>
                    <Carousel />
                </section>
            </div>
        </div>
    </div>


    <!-- Sección de Hero -->
    <div class="w-full overflow-hidden">
        <img src="/src/components/assets/images/juego/hero.png" alt="hero" class="mx-auto w-full h-auto" />
    </div>

    <!-- Sección de Imagen y Texto -->
    <section class="mt-8">
        <h1 class="text-3xl text-center font-bold mb-4">Juego de mesa "Simiwan Pukllana"</h1>
        <div class="flex flex-col md:flex-row items-center">
            <div class="md:w-1/2 p-2">
                <img src="/src/components/assets/images/juego/logobyn.png" alt="logosimiwanpukllana" class="mb-1 w-64 h-64 mx-auto">
                <p class="mt-1 text-gray-700">
                    Simiwan Pukllana se trata de un juego de mesa divertido y educativo creado para promover el quechua de Cochabamba. El título del juego se traduce en español como “juguemos con Simi”, Simi se trata de una ranita que ama difundir su lengua materna que es el quechua.
                </p>
                <p class="mt-1 text-gray-700">
                    A medida que las personas avanzan en “Simiwan Pukllana,” se encontrarán con tarjetas de preguntas que pondrán a prueba sus conocimientos lingüísticos en temas relacionados con comida, colores, números y toponimia en quechua, entre otros. Este juego no solo se trata de ganar; busca fomentar la conciencia sobre la importancia de preservar y revitalizar la lengua quechua, especialmente en un departamento de Bolivia con una amplia comunidad bilingüe (quechua-español) como Cochabamba. Con un diseño accesible para familias, amistades, estudiantes y docentes, el juego promueve el trabajo en equipo, el aprendizaje y el aprecio por la diversidad cultural y lingüística, ayudando a preservar y aumentar la vitalidad de una de las lenguas indígenas más habladas en Bolivia.
                </p>
            </div>
            <div class="md:w-1/2 p-4">
                <img src="/assets/juego/image1.jpg" alt="Simiwan Pukllana" class="w-full h-auto rounded-lg" />
            </div>
        </div>
    </section>

    <!-- Sección del Logos -->
    <section class="mt-8">
        <!-- <h2 class="text-3xl font-bold text-black">Imágenes Destacadas</h2>  -->
        <LogoSection />
    </section>

    <!-- Sección de Tarjetas -->
    <section class="py-12"> {/* Espacio arriba y abajo */}
        <div class="container mx-auto justify-items-center">
            <div class="grid grid-cols-3 gap-4">
                <img src="ruta/a/imagen1.jpg" alt="Imagen 1" class="w-full h-auto object-cover" />
                <img src="ruta/a/imagen2.jpg" alt="Imagen 2" class="w-full h-auto object-cover" />
                <img src="ruta/a/imagen3.jpg" alt="Imagen 3" class="w-full h-auto object-cover" />
            </div>
        </div>
    </section>

    <!-- Sección de Tarjetas -->
    <section class="mt-8">
        <h2 class="text-3xl font-bold text-blue-700">Servicios</h2>
        <h3>Si bien realizamos material gratuito didáctico y literario en quechua, también ofrecemos nuestros servicios de manera que que Atuq Yachachiq sea una iniciativa autosustentable y podamos seguir liberando material.
            Atuq Yachachiq desafia las estructuras tradicionales de distribución del conocimiento que perpetúan sistemas de exclusión, las cuales refuerzan un modelo de inequidad, donde el acceso a libros y materiales culturales queda restringido a sectores privilegiados. 
            Cuando adquieres nuestros servicios también apoyas a un  nuestro proyecto editorial que promueve el acceso equitativo de material literario en qeuchua y otras lenguas indígenas de Bolivia.</h3>
        <Simiwanpukllana client:only="react" />
    </section>

    <!-- Sección de Hero -->
    <div class="w-full">
        <img src="/src/components/assets/images/juego/zorrito1.png" alt="hero" class="mx-auto w-full h-auto" />
    </div>
</PageLayout>