---
import Carousel from "../components/simiwanpullkana/carousel";
import Simiwanpukllana from "../components/simiwanpullkana";
import ImageTextBlock from "../components/simiwanpullkana/imagetextblock";
import LogoSection from "../components/simiwanpullkana/logoSection";
import Recursos from "../components/simiwanpullkana/recursos";
//import PageLayout from "../layouts/PageLayout.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simiwan Pukllana</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&family=Abel&family=Baloo+Thambi&display=swap" rel="stylesheet">

    <link href="/assets/css/style.css" rel="stylesheet" />
</head>
<body class="font-abel">

    <header style="background-color: #ffee77; padding: 16px; text-align: center;" id="inicio">
        <nav class="navbar navbar-expand-lg navbar-light navbar-custom-game">
            <div class="container-fluid">
                <a class="navbar-brand font-bold" style="color: #895d08;" href="/">ATUQ YACHACHIQ</a>
                <div
                    class="justify-content-end font-bold"
                    id="navbarNav"
                >
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" style="color: #895d08;" href="#nosotrxs">NOSOTRXS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #895d08;" href="#novedadesjuego">NOVEDADES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #895d08;" href="#servicios">SERVICIOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #895d08;" href="https://simiquechua.app/">SIMI APP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #895d08;" href="/simiwanpullkana">CONTACTO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <section id="nosotrxs" class="container mx-auto px-4 py-6">
        <h2 class="text-3xl font-bold bg-yellow-200 text-[#895d08] rounded-lg p-3 inline-block">
            NOSOTRXS
        </h2>
        <div class="flex flex-col md:flex-row">
            <!-- Columna izquierda con carrusel -->
            <div class="md:w-1/2 p-6">
                <div class="carousel mt-4">
                    <Carousel />
                </div>
            </div>

            <!-- Columna derecha con texto -->
            <div class="md:w-1/2 p-6 flex items-center">
                <div class="w-full">
                    <img src="/src/components/assets/images/juego/atuq_logo.png" alt="" class="mx-auto h-80" />
                    <p class="mt-4 text-gray-600 text-center">
                        Atuq Yachachiq se trata de un colectivo editorial fundada en 2019 que se dedica a la creación y difusión de material didáctivo y literario en Quechua de Cochabamba. Actualmente nos encontramos presentes en Cochabamba, Bolivia.                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Hero -->
    <div id="novedadesjuego" class="w-full overflow-hidden">
        <h2 class="text-3xl font-bold bg-yellow-200 text-[#895d08] rounded-lg p-3 inline-block ml-14 mb-4">
            NOVEDADES
        </h2>
        <img src="/src/components/assets/images/juego/hero.png" alt="hero" class="mx-auto w-full h-auto" />
    </div>

    <!-- Sección de Imagen y Texto -->
    <section class="mt-8">
        <h1 class="font-baloo text-3xl text-center mb-1" style="color: #74c741;">Juego de mesa "Simiwan Pukllana"</h1>
        <div class="flex flex-col md:flex-row items-center">
            <div class="md:w-1/2 p-8 text-center">
                <img src="/src/components/assets/images/juego/logobyn.png" alt="logosimiwanpukllana" class="mb-1 h-80 w-auto mx-auto">
                <p class="mt-1 text-gray-700">
                    Simiwan Pukllana se trata de un juego de mesa divertido y educativo creado para promover el quechua de Cochabamba. El título del juego se traduce en español como “juguemos con Simi”, Simi se trata de una ranita que ama difundir su lengua materna que es el quechua.
                </p>
                <p class="mt-1 text-gray-700">
                    A medida que las personas avanzan en “Simiwan Pukllana,” se encontrarán con tarjetas de preguntas que pondrán a prueba sus conocimientos lingüísticos en temas relacionados con comida, colores, números y toponimia en quechua, entre otros. Este juego no solo se trata de ganar; busca fomentar la conciencia sobre la importancia de preservar y revitalizar la lengua quechua, especialmente en un departamento de Bolivia con una amplia comunidad bilingüe (quechua-español) como Cochabamba. Con un diseño accesible para familias, amistades, estudiantes y docentes, el juego promueve el trabajo en equipo, el aprendizaje y el aprecio por la diversidad cultural y lingüística, ayudando a preservar y aumentar la vitalidad de una de las lenguas indígenas más habladas en Bolivia.
                </p>
            </div>
            <div class="md:w-1/2 p-4">
                <div class="carousel mt-4 text-center">
                    <h2 class="font-schoolbell text-3xl mb-2">
                        Descarga la versión digital del juego
                    </h2>
                    <Recursos />
                </div>
            </div>
        </div>
    </section>

    <!-- Sección del Logos -->
    <section class="mt-8">
        <!-- <h2 class="text-3xl font-bold text-black">Imágenes Destacadas</h2>  -->
        <LogoSection />
    </section>

    <!-- Sección de Tarjetas -->
    <section class="py-12">
        <div class="container mx-auto">
            <div class="grid grid-cols-3 gap-4">
                <div class="bg-red-200 rounded-lg overflow-hidden">
                    <img src="/src/components/assets/images/juego/cover1.png" alt="Imagen 1" class="w-full h-auto object-cover" />
                </div>
                <div class="bg-blue-200 rounded-lg overflow-hidden">
                    <img src="/src/components/assets/images/juego/cover3.png" alt="Imagen 2" class="w-full h-auto object-cover" />
                </div>
                <div class="bg-green-200 rounded-lg overflow-hidden">
                    <img src="/src/components/assets/images/juego/cover2.png" alt="Imagen 3" class="w-full h-auto object-cover" />
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Tarjetas -->
    <section id="servicios" class="mt-8 p-8">
        <h2 class="text-3xl font-bold bg-yellow-200 text-[#895d08] rounded-lg p-3 inline-block ml-8">
            SERVICIOS
        </h2>
        <h2 class="text-center text-xl mb-4">Si bien realizamos material gratuito didáctico y literario en quechua, también ofrecemos nuestros servicios de manera que que Atuq Yachachiq sea una iniciativa autosustentable y podamos seguir liberando material.
            Atuq Yachachiq desafia las estructuras tradicionales de distribución del conocimiento que perpetúan sistemas de exclusión, las cuales refuerzan un modelo de inequidad, donde el acceso a libros y materiales culturales queda restringido a sectores privilegiados. 
            Cuando adquieres nuestros servicios también apoyas a un  nuestro proyecto editorial que promueve el acceso equitativo de material literario en qeuchua y otras lenguas indígenas de Bolivia.</h2>
        <Simiwanpukllana client:only="react" />
    </section>

    <!-- Sección de Hero -->
    <div class="w-full">
        <img src="/src/components/assets/images/juego/zorrito1.png" alt="hero" class="mx-auto w-full h-auto" />
    </div>

    <footer style="background-color: #ffe064" class="text-white p-20 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 style="color: #a8751f;">Acerca de</h3>
                    <p style="color: #a8751f;">Atuq Yachachiq es una editorial especializada en libros ilustrados. Nos gustan los dibujos bonitios y la diversidad linguistica. </p>
                </div>
                <div class="col-md-4">
                    <h5 style="color: #a8751f;">Contacto</h5>
                    <p style="color: #a8751f;">WhatsApp: +591 75968087</p>
                    <p style="color: #a8751f;">Email: atuqyachachiq@gmail.com</p>
                </div>
                <div class="col-md-4">
                    <h5 style="color: #a8751f;">Suscríbete</h5>
                    <p style="color: #a8751f;">Suscríbete a nuestro newsletter por email para recibir los nuevos posts en tu correo electrónico</p>
                </div>
            </div>
            <p style="color: #a8751f;" class="mt-4">&copy; 2024 Atuq Yachachiq. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>