---
import Carousel from "../components/simiwanpullkana/carousel";
import Simiwanpukllana from "../components/simiwanpullkana";
import ImageTextBlock from "../components/simiwanpullkana/imagetextblock";
import LogoSection from "../components/simiwanpullkana/logoSection";
import Recursos from "../components/simiwanpullkana/recursos";
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.astro";
//import PageLayout from "../layouts/PageLayout.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simiwan Pukllana</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&family=Abel&family=Baloo+Thambi&display=swap" rel="stylesheet">

    <link href="/assets/css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />
</head>
<body class="font-nunito">

    <Header />

    <!-- Sección de Hero -->
    <div id="novedadesjuego" class="w-full overflow-hidden">
        <div class="w-full h-[500px] sm:h-[600px] md:h-[700px] lg:h-[800px] relative">
          <img 
            src="/assets/images/juego/banner.jpg" 
            alt="hero" 
            class="mx-auto w-full h-full object-cover absolute top-0 sm:top-[-50px] md:top-[-100px] lg:top-[-150px] xl:top-[-200px] brightness-75"
          />
        </div>  
      </div>
      
      

    <!-- Sección de Imagen y Texto -->
    <section class="mt-8">
        <div class="flex justify-center items-center mb-6">
            <div class="md:w-1/2 p-6 text-center">
                <img src="/assets/images/juego/atuq_logo.png" alt="" class="mx-auto h-[150px]" />
                <p class="mt-4 text-black font-[Nunito] font-light text-[20px]">
                    Atuq Yachachiq se trata de un colectivo editorial fundada en 2019 que se dedica a la creación y difusión de material didáctico y literario en Quechua de Cochabamba. Actualmente nos encontramos presentes en Cochabamba, Bolivia.
                </p>
            </div>
        </div>
        <br>
    
        <div class="flex flex-col lg:flex-row items-center justify-center">
            <div class="w-full md:w-1/2 p-4 lg:w-1/2 sm:order-1 lg:order-2">
                <div class="carousel mt-4 text-center">
                    <h2 class="font-[Nunito] text-3xl font-bold mb-2">
                        Descarga la versión digital del juego
                    </h2>
                    <Recursos />
                </div>
            </div>
            
            <div class="w-full md:w-[608px] lg:w-[500px] h-auto bg-[#fff4cd] border-4 border-[#fff4cd] rounded-lg p-8 text-center relative mb-6 lg:mb-0 sm:order-2 lg:order-1">
                <img src="/assets/images/juego/logobyn.png" alt="logosimiwanpukllana" class="mt-[-50px] h-[315px] w-auto mx-auto">
                <p class="mt-[-55px] text-[19px] text-justify text-gray-700 font-[Nunito] font-light">
                    Simiwan Pukllana se trata de un <span class="font-bold">juego de mesa</span> divertido y educativo creado para 
                    <span class="font-bold">promover el quechua de Cochabamba.</span>
                </p>
                <br>
                <p class="text-[19px] text-justify text-gray-700 font-[Nunito] font-light">
                    El título del juego se traduce en español como <span class="font-bold">“juguemos con Simi”</span>, Simi se trata de una ranita que ama difundir su lengua materna que es el quechua.
                </p>
                <br>
                <p class="text-[19px] text-justify text-gray-700 font-[Nunito] font-light">
                    A medida que las personas avanzan en “Simiwan Pukllana,” se encontrarán con 
                    <span class="font-bold">tarjetas de preguntas que pondrán a prueba sus conocimientos lingüísticos</span> en temas relacionados con comida, colores, números y toponimia en quechua, entre otros. 
                </p>
                <br>
                <p class="text-[19px] text-justify text-gray-700 font-[Nunito] font-light">
                    Este juego no solo se trata de ganar; busca fomentar la conciencia sobre la importancia de preservar y revitalizar la lengua quechua, especialmente en un departamento de Bolivia con una amplia comunidad bilingüe (quechua-español) como Cochabamba. 
                </p>
                <br>
                <p class="text-[19px] text-justify text-gray-700 font-[Nunito] font-light">
                    Con un diseño accesible para familias, amistades, estudiantes y docentes, el juego promueve el trabajo en equipo, 
                    el aprendizaje y el <span class="font-bold">aprecio por la diversidad cultural y lingüística</span>, ayudando a preservar y aumentar la vitalidad de una de las lenguas indígenas más habladas en Bolivia.
                </p>
            </div>
        </div>
        
    </section>
    

    <!-- Sección del Logos -->
    <section class="mt-8">
        <!-- <h2 class="text-3xl font-bold text-black">Imágenes Destacadas</h2>  -->
        <LogoSection />
    </section>

    <!-- Sección de Tarjetas -->
    <section class="py-12">
        <div class="container mx-auto">
            <div class="grid grid-cols-3 gap-4">
                <div class="bg-red-200 rounded-lg overflow-hidden">
                    <img src="/assets/images/juego/cover1.png" alt="Imagen 1" class="w-full h-auto object-cover" />
                </div>
                <div class="bg-blue-200 rounded-lg overflow-hidden">
                    <img src="/assets/images/juego/cover3.png" alt="Imagen 2" class="w-full h-auto object-cover" />
                </div>
                <div class="bg-green-200 rounded-lg overflow-hidden">
                    <img src="/assets/images/juego/cover2.png" alt="Imagen 3" class="w-full h-auto object-cover" />
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de Tarjetas -->
    <section id="servicios" class="mt-8 p-8">
        <h2 class="text-3xl font-bold bg-yellow-200 text-[#895d08] rounded-lg p-3 inline-block ml-8">
            SERVICIOS
        </h2>
        <h2 class="text-center text-xl mb-4">Si bien realizamos material gratuito didáctico y literario en quechua, también ofrecemos nuestros servicios de manera que que Atuq Yachachiq sea una iniciativa autosustentable y podamos seguir liberando material.
            Atuq Yachachiq desafia las estructuras tradicionales de distribución del conocimiento que perpetúan sistemas de exclusión, las cuales refuerzan un modelo de inequidad, donde el acceso a libros y materiales culturales queda restringido a sectores privilegiados. 
            Cuando adquieres nuestros servicios también apoyas a un  nuestro proyecto editorial que promueve el acceso equitativo de material literario en qeuchua y otras lenguas indígenas de Bolivia.</h2>
        <Simiwanpukllana client:only="react" />
    </section>

    <!-- Sección de Hero -->
    <div class="w-full">
        <img src="/assets/images/juego/zorrito1.png" alt="hero" class="mx-auto w-full h-auto" />
    </div>

    <Footer/>
</body>

</html>