---
import PageLayout from "../layouts/PageLayout.astro";
import Card from "../components/Card";
import "../styles/global.css";
import SobreNosotrosContent from "../components/sobreNosotros/SobreNosotrosContent.jsx";
import Equipo from "../components/sobreNosotros/Equipo.jsx";
import LogosApoyo from "../components/sobreNosotros/Logos_apoyo.jsx";
---

<PageLayout
  titulo="Sobre Nosotros"
  descripcion="Conoce más sobre nuestro proyecto y equipo"
  imagen="/assets/img/sobre_nosotros.jpg"
>
  <div class="p-4 justify-center items-center">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Sobre nosotros</title>
    </head>
    <body>
      <SobreNosotrosContent />

      <Equipo />
      <div class="bg-rana">>
        <LogosApoyo />
      </div>
    </body>
  </div>
</PageLayout>
