---

---

<footer class="w-full bg-neutral-600 text-white p-4 min-h-[380px] flex flex-col items-center justify-between ">

    <img src="/src/components/assets/images/logoSimi2.png" alt="Descripción de la imagen" class="h-[90px] mt-[30px] object-contain">

    <div class="flex gap-4 mt-[10px]">
        <a href="https://www.facebook.com/appsimiquechua" target="_blank" class="p-2">
            <img src="/src/components/assets/images/facebook_logo.png" alt="Facebook" class="h-[65px] w-[65px] object-contain">
        </a>
        <a href="https://www.instagram.com/simiappquechua/#" target="_blank" class="p-2">
            <img src="/src/components/assets/images/instagram_logo.png" alt="Instagram" class="h-[65px] w-[65px] object-contain">
        </a>
        <a href="https://www.youtube.com/channel/UCYWCAC-1g-co7okL_nzvcUQ" target="_blank" class="p-2">
            <img src="/src/components/assets/images/youtube_logo.png" alt="YouTube" class="h-[65px] w-[65px] object-contain">
        </a>
        <a href="mailto:simiappbo@gmail.com" class="p-2" onclick="window.open(this.href); return false;">
            <img src="/src/components/assets/images/email_logo.png" alt="Correo" class="h-[65px] w-[65px] object-contain">
        </a>
    </div>

    <p class="font-[nunito] mt-[15px] text-3xl text-lime-500 ">Desarrollado por <a href="https://labtecnosocial.org/" class="font-semibold underline text-lime-500" target="_blank" rel="noopener noreferrer">Lab TecnoSocial</a></p>

    <div class="text-lg mb-[40px] space-x-2 text-gray-300">
        <a href="#" class="font-[nunito] font-light underline text-white" target="_blank" rel="noopener noreferrer">Políticas de privacidad</a>
        <span>|</span>
        <a href="#" class="font-[nunito] font-light underline text-white" target="_blank" rel="noopener noreferrer">Términos y condiciones</a>
    </div>
</footer>


  
