---

---

<footer class="w-full bg-neutral-600 text-white p-4 min-h-[380px] flex flex-col items-center justify-between"> 
    <img src="/src/components/assets/images/logoSimi2.png" alt="Descripción de la imagen" class="h-[90px] mt-[30px] object-contain">

    <div class="flex gap-4 mt-[10px]">
        <a href="https://www.facebook.com/appsimiquechua" target="_blank" class="p-2">
            <img src="/src/components/assets/images/facebook_logo.png" alt="Facebook" class="h-[65px] w-[65px] object-contain">
        </a>
        <a href="https://www.instagram.com/simiappquechua" target="_blank" class="p-2">
            <img src="/src/components/assets/images/instagram_logo.png" alt="Instagram" class="h-[65px] w-[65px] object-contain">
        </a>
        <a href="https://www.youtube.com/channel/UCYWCAC-1g-co7okL_nzvcUQ" target="_blank" class="p-2">
            <img src="/src/components/assets/images/youtube_logo.png" alt="YouTube" class="h-[65px] w-[65px] object-contain">
        </a>
        <a href="mailto:simiappbo@gmail.com" target="_blank" class="p-2">
            <img src="/src/components/assets/images/email_logo.png" alt="Correo" class="h-[65px] w-[65px] object-contain">
        </a>
    </div>

    <p class="font-[nunito] mt-[15px] text-3xl text-lime-500 text-center sm:text-left text-[1.5rem] sm:text-[1.75rem] md:text-[2rem] lg:text-[1.875rem] xl:text-[1.875rem]">
        Desarrollado por <a href="https://labtecnosocial.org/" class="font-semibold underline text-lime-500" target="_blank">Lab TecnoSocial</a>
    </p>

    <div class="text-lg mb-[40px] space-x-2 text-gray-300 text-center sm:text-left">
        <a href="#" class="font-[nunito] font-light underline text-white text-[1rem] sm:text-[1rem] md:text-[1.25rem] lg:text-[1.125rem] xl:text-[1.125rem]" target="_blank">Políticas de privacidad</a>
        <span class="text-[1rem] sm:text-[1rem] md:text-[1.25rem] lg:text-[1.125rem] xl:text-[1.125rem]">|</span>
        <a href="#" class="font-[nunito] font-light underline text-white text-[1rem] sm:text-[1rem] md:text-[1.25rem] lg:text-[1.125rem] xl:text-[1.125rem]" target="_blank">Términos y condiciones</a>
    </div>
</footer>


  