---

---

<footer id="footer">
    <div class="container">
        <div class="text-center">
            <h2>Simi</h2>
            <a
                href="https://www.facebook.com/appsimiquechua"
                target="_blank"
                class="white-link"
            >
                <i class="fab fa-facebook"></i>
            </a>
            <a
                href="https://www.instagram.com/simiappquechua"
                target="_blank"
                class="white-link"
            >
                <i class="fab fa-instagram"></i>
            </a>
            <a
                href="https://www.youtube.com/channel/UCYWCAC-1g-co7okL_nzvcUQ"
                target="_blank"
                class="white-link"
            >
                <i class="fab fa-youtube"></i>
            </a>
            <a
                href="mailto:simiappbo@gmail.com"
                target="_blank"
                class="white-link"
            >
                <i class="fa fa-envelope"></i>
            </a>
            <div class="footer-bottom">
                <h5>
                    Desarrollado por el <a
                        class="red-link"
                        target="blank"
                        href="https://labtecnosocial.org/">Lab TecnoSocial</a
                    >
                </h5>
            </div>
        </div>
    </div>
</footer>
