---

---

<header id="inicio">
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container-fluid">
            <div class="logo-container navbar">
                <img
                    src="/assets/images/logosimi.png"
                    alt="Logo de Simi"
                    class="logo-simi"
                />
            </div>
            <a class="navbar-simi" href="/">Simi</a>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div
                class="collapse navbar-collapse justify-content-end"
                id="navbarNav"
            >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a
                            class="nav-link inicio active"
                            aria-current="page"
                            href="/">Inicio</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#cards-section"
                            >Acerca de Simi</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#cards-section-1">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#footer">Nuestras redes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/juegos">Juegos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
