---

---
<section id="hero" class="w-full bg-white py-16 relative"> 
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 items-center justify-center">

        <div class="order-2 lg:order-1 flex flex-col justify-center text-center lg:text-left space-y-4 ml-[180px] relative z-10 max-w-4xl mx-auto">
            <div data-aos="fade-right" data-aos-duration="1500">
              <h2 class="text-[60px] font-bold text-neutral-600 text-center whitespace-nowrap font-[Roboto]">
                La 1ra app <br /> 
                para aprender <span class="text-[#59CB07] text-[68px]">Quechua</span> <br />
                hecha en <span class="text-[#59CB07] text-[68px]">Cochabamba</span>
              </h2>
            </div>
        </div>

        <div class="order-1 lg:order-2 -ml-10 mr-[-80px]" data-aos="fade-left" data-aos-duration="1500">
            <img
              src="/assets/images/celular_con_logo_simi.png"
              class="w-full h-[600px] mx-auto rotate-[-5deg] object-contain"
              alt="Celular con logo Simi"
            />
          </div>
      </div>
    </div>
</section>

  
  
  
  
  
  
  
  