---

---
<section id="hero" class="w-full bg-transparent py-16 relative">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center justify-center gap-8">

      <div class="flex-1 text-center justify-center lg:text-left space-y-4 max-w-full lg:ml-[50px] xl:ml-[100px]">
        <div data-aos="fade-right" data-aos-duration="1500">
          <h2 class="font-bold text-neutral-600 whitespace-nowrap font-[Roboto] text-[6vw] sm:text-[7vw] md:text-[40px] lg:text-[50px] xl:text-[60px] lg:text-center">
            La 1ra app <br /> 
            para aprender <span class="text-[#59CB07] text-[7vw] sm:text-[8vw] md:text-[48px] lg:text-[58px] xl:text-[68px]">Quechua</span> <br />
            hecha en <span class="text-[#59CB07] text-[7vw] sm:text-[8vw] md:text-[48px] lg:text-[58px] xl:text-[68px]">Cochabamba</span>
          </h2>
        </div>
      </div>
      
      <div class="flex-1 w-full sm:w-[70%] md:w-[50%] lg:w-[40%] mx-auto">
        <img
          src="/assets/images/cellphone.png"
          class="w-full h-auto mx-auto object-contain"
          alt="Celular con logo Simi"
          style="max-width: 40vw; min-width: 150px; max-height: 82.5vh; min-height: 150px; width: 100%; height: auto;"
        />
      </div>

    </div>
  </div>
</section>

  
  
  
  
  
  
  
  